<div class="col-12 col-offset-2" id="imagenFondo">
    <br>
    <br>
    <div class="row d-flex justify-content-center">
        <div class="jumbotron w-50 text-center">
            <h1 class="display-4">{{ title }}</h1>
            <p class="lead">Disfruta de las publicaciones de tus amigos y comparte las tuyas.</p>
            <hr class="my-4">
            <a class="btn btn-outline-success btn-lg mr-3" href="#" role="button">Mi perfil</a>
            <a class="btn btn-outline-dark btn-lg mr-3" href="#" role="button">TimeLine</a>
            <a class="btn btn-outline-primary btn-lg mr-3" href="#" role="button">Gente</a>
        </div>
    </div>
</div>