<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">{{titulo}}</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item ">
                <a class="nav-link" href="#"><span><fa-icon [icon]="faHome"></fa-icon> </span> Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><span><fa-icon [icon]="faList"></fa-icon> </span> TimeLine</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#"><span><fa-icon [icon]="faUsers"></fa-icon> </span> Gente</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>