<div class="col-lg-12">

    <h1 class="mt-5">{{title}}</h1>
    <hr>

    <div class="people">
        <!-- LISTADO -->
        <div class="card-columns">
            <div *ngFor="let user of users" class="item-user">
                <div class="card">
                    <a href="#">
                        <img class="card-img-top" src="../../../assets/img/notImage.png" alt="Card image cap" *ngIf="!user.image">
                        <img class="card-img-top" src="{{ url + 'getImage/' + user.image  }}" alt="Card image cap" *ngIf="user.image">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title text-warning">
                            <fa-icon [icon]="faUser"></fa-icon>
                            {{user.name + ' ' + user.surname }}
                        </h5>
                        <p class="card-text"> {{ user.nick}} </p>

                        <!-- Seguir dejar de seguir-->
                        <p class="card-text text-center" *ngIf="user._id != identity._id">
                            <button class="btn btn-success btn-block" *ngIf="follows.indexOf(user._id) < 0" (click)=followUser(user._id)>
                                <fa-icon [icon]="faPlusCircle"></fa-icon>
                                Seguir
                            </button>
                            <button class="btn btn-primary btn-block" *ngIf="follows.indexOf(user._id) >= 0" (mouseenter)="mouseEnter(user._id)" (mouseleave)="mouseLeave(user._id)" [class.btn-danger]="user._id === followUserOver">
                                <span *ngIf="user._id === followUserOver; else following">
                                    <fa-icon [icon]="faTimesCircle"></fa-icon>
                                    Dejar de Seguir
                                </span>

                                <ng-template #following>
                                    <fa-icon [icon]="faCheckCircle"></fa-icon>
                                    Siguiendo
                                </ng-template>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- PAGINACION -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" *ngIf="page > 1">
                    <a class="page-link" [routerLink]="['/gente', backPage]" tabindex="-1">Anterior</a>
                </li>
                <li class="page-item" *ngIf="pages != page">
                    <a class="page-link" [routerLink]="['/gente', nextPage]">Siguiente</a>
                </li>
            </ul>
        </nav>

    </div>


</div>