/**  SIDEBAR */

#user-card {
    width: 100%;
    padding: 10px;
}

#user-card .avatar {
    margin-right: 15px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    overflow: hidden;
}

#user-card .avatar img {
    width: 100%;
}

#user-card .name-surname .name {
    text-decoration: none;
    font-weight: bold;
    color: #ffc107;
    font-size: 17px;
}

#user-card .name-surname .name a {
    color: #555;
}

#user-card .name-surname .nickname {
    color: #666;
}

.name-surname {
    width: 150px;
}

#user-card .stats {
    display: flex;
    justify-items: center;
    text-align: center;
    font-size: x-small;
    border-top: 1px solid #eee;
    margin-top: 10px;
}

#user-card .stats a {
    text-decoration: none;
    color: #555;
}

#user-card .stats a:hover {
    color: rgb(201, 117, 14);
    font-weight: bold;
}

#user-card .stats .number-stats-stats {
    color: gold;
    font-weight: bold;
}

#user-card .label-stats,
#user-card .number-stats {
    display: block;
    text-align: center;
}

#user-card .label-stats {
    font-weight: bold;
    color: #555;
}

#user-card .following-data {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border-right: 1px solid #ccc;
}

#user-card .following-data:first-child {
    padding-left: 6px;
}

#user-card .following-data:last-child {
    border: none;
}