.image-user {}

.imagen-us {
    width: 70px;
    height: 70px;
    border-radius: 100px;
}

.user-name {
    text-decoration: none;
    color: goldenrod;
}

.user-name:hover {
    text-decoration: none;
    color: goldenrod;
}