<div class="row mt-3">
    <div class="col-8">
        <div class="row">
            <div class="col-8">
                <h1>{{title}}</h1>
            </div>
            <div class="col-4">
                <button class="btn btn-outline-secondary btn-sm mt-2 float-right" (click)=refresh($event)>
                    <fa-icon [icon]="faPlusCircle"></fa-icon>
                    Refrescar 
                </button>
            </div>
        </div>
        <hr>
        <div class="publications">
            <div *ngFor="let publication of publications" class="item-publication card mt-1 rounded-pill">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2 image-user">
                            <img class="imagen-us" src="../../../assets/img/notImage.png" alt="publication.user.name" *ngIf="!publication.user.image">
                            <img class="imagen-us" src="{{ url + 'getImage/' + publication.user.image }} " alt="publication.user.name " *ngIf="publication.user.image ">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-6 ">
                            <div class="text-secondary">
                                {{ publication.user.name + ' ' + publication.user.surname}}
                                <span class="date small text-black-50">
                                    &nbsp;| {{ (publication.createdAt | amFromUnix ) | amLocale:'es' | amTimeAgo }}
                                </span>
                            </div>
                            <div class="publication-text float-left ">
                                <span class="">{{publication.text}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row d-flex justify-content-end mr-2">
            <p class="mt-2">
                <button class="btn btn-outline-secondary btn-sm" (click)="viewMore()" *ngIf="!noMore">
                    <fa-icon [icon]="faArrowAltCircleDown"></fa-icon>
                    Ver más publicaciones...
                </button>
            </p>
        </div>
    </div>
    <div class="col-4 ">
        <sidebar (sended)="refresh($event)"></sidebar>
    </div>
</div>